.tpp{
  background: #14181E url(https://unsplash.com/search/fitness?photo=5rKPeFcsSTY) no-repeat center;
  -webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
width: 100%;
height: 100%;
min-height: 720px;
display: table;
position: relative;

}

#part{
  text-align: center;

}
h3{
  text-align: center;
}

#pic{
  padding-right: 20px;
  padding-left: 20px;
}
